* {
  box-sizing: border-box;
}

body{
background-color: rgb(228, 222, 222) ;
margin:0%;
}

.wrapper{   
display: flex;
flex-direction: column;
align-items: center;
}


.tittlePhoto{   
    display: flex;
    width: 600px;
    height: auto;
    top:50px;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.tittlePhoto p{
    color:gray;
    margin-right: 10px;
 }

.tittlePhoto h3{
    margin-left: 10px;
}

.imagen{
    width: 600px;
}

.comment {
text-align: justify;
width: 600px;
height: auto;
padding: 10px;
}


.post{
    background: white;
    margin-top: 50px;
    width: 600px;
}



header h1{
   margin:0%;
   background-color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   height: 70px;
   padding: 15px;
}

.post p{
    font-family: Arial, Helvetica, sans-serif;
}





